<div>
  <ul
    class="flex flex-row justify-between p-8 items-center bg-primary text-white h-20"
  >
    <li class="flex flex-row justify-between items-center space-x-9">
      <div class="h-12 w-12">
        <general-avatar />
      </div>

      @for (route of routes(); track $index) {

      <div
        class="cursor-pointer"
        (click)="navigateToOtherPage(route.route)"
        [ngClass]="{
          'common-style-navbar': activateRoute()?.includes(route.title)
        }"
      >
        {{ 'navbar.'+route.title | translate }}
      </div>
      }
    </li>

    <li class="ml-auto flex space-x-3 cursor-pointer">
      <button class="flex text-white" [matMenuTriggerFor]="menuLanguage">
        <div>{{"languages."+ currentLang().code | translate}}</div>
        <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
      </button>


      <mat-menu #menuLanguage>
        @for (lang of languages; track lang.code) {

        <button
        (click)="changeLanguage(lang.code)"
        type="btn" mat-menu-item class="flex space-x-2 cursor-pointer">
          <!-- <img src="images/flats/gb.svg" width="15" alt="English flat" /> -->
          <div>{{ "languages." + lang.code| translate }}</div>
        </button>

        }
      </mat-menu>

      <button class="flex text-white" [matMenuTriggerFor]="menu">
        <mat-icon fontIcon="download_2"></mat-icon>
        <div>{{"navbar.downloadCV" | translate}}</div>
      </button>

      <mat-menu #menu>
        <a
          class="flex"
          mat-menu-item
          href="cv/curriculum_english.pdf"
          download="carlos-lopez-english.pdf"
        >
          <div class="flex space-x-2">
            <img src="images/flats/gb.svg" width="15" alt="English flat" />
            <div>{{'languages.en' | translate}}</div>
          </div>
        </a>

        <a
          class="flex"
          mat-menu-item
          href="cv/curriculum.pdf"
          download="carlos-lopez-english.pdf"
        >
          <div class="flex space-x-2">
            <img src="images/flats/co.svg" width="15" alt="English flat" />
            <div>{{'languages.es' | translate}}</div>
          </div>
        </a>
      </mat-menu>
    </li>
  </ul>
</div>

<hr />

<ng-content> </ng-content>
