<div>
  <ul
    class="flex flex-row justify-between p-8 items-center bg-primary text-white h-20"
  >
    <li class="flex flex-row justify-between items-center space-x-9">
      <div class="h-12 w-12">
        <general-avatar />
      </div>

      @for (route of routes(); track $index) {

      <div
        class="cursor-pointer"
        (click)="navigateToOtherPage(route.route)"
        [ngClass]="{
          'common-style-navbar': activateRoute()?.includes(route.title)
        }"
      >
        {{ route.name }}
      </div>
      }
    </li>

    <li class="ml-auto flex cursor-pointer">
      <button class="flex text-white" [matMenuTriggerFor]="menu">
        <mat-icon fontIcon="download_2"></mat-icon>
        <div>Download CV</div>
      </button>

      <mat-menu #menu>
        <a
          class="flex"
          mat-menu-item
          href="cv/curriculum_english.pdf"
          download="carlos-lopez-english.pdf"
        >
          <div class="flex space-x-2">
            <img src="images/flats/gb.svg" width="15" alt="English flat" />
            <div>English</div>
          </div>
        </a>

        <a
          class="flex"
          mat-menu-item
          href="cv/curriculum.pdf"
          download="carlos-lopez-english.pdf"
        >
          <div class="flex space-x-2">
            <img src="images/flats/co.svg" width="15" alt="English flat" />
            <div>Spanish</div>
          </div>
        </a>
      </mat-menu>
    </li>
  </ul>
</div>

<hr />

<ng-content> </ng-content>
