<div
  class="flex flex-col space-y-2 rounded-md pb-6 bg-primary  text-white laptop:pb-3"
>
  <div class="h-64 ">
    <img class="h-full w-full object-cover" [src]="certificate().image" />
  </div>

  <div class="flex flex-col space-y-3 px-5">
    <h3 class="font-bold line-clamp-1">{{ certificate().courseTitle }}</h3>

    <div class="text-sm h-24 text-ellipsis">
      <p class="line-clamp-4">
        {{ certificate().description }}
      </p>
    </div>

    <button
      type="button"
      class="border border-white py-2 px-4 rounded text-center hover:text-white hover:bg-secondary hover:border-secondary hover:scale-105 laptop:w-36"
    >
      <div class="flex justify-center items-center space-x-2">
        <span class="text-sm">Show</span>
      </div>
    </button>
  </div>
</div>
