<div
  class="flex flex-row justify-between p-3 items-center bg-primary text-white h-20  laptop:hidden"
>
  <button mat-icon-button (click)="toogleSideNav()">
    <mat-icon class="text-white">menu</mat-icon>
  </button>

  <div class="flex space-x-2">


    <li class="ml-auto flex cursor-pointer">
      <button class="flex text-white" [matMenuTriggerFor]="menu">
        <mat-icon fontIcon="download_2"></mat-icon>
        <div>Download CV</div>
      </button>

      <mat-menu #menu>
        <a mat-menu-item href="cv/curriculum_english.pdf" download="carlos-lopez-english.pdf"> English </a>

        <a mat-menu-item href="cv/curriculum.pdf" download="carlos-lopez-spanish.pdf"> Spanish </a>
      </mat-menu>
    </li>
  </div>
</div>

<general-menu-laptop

[routes]="routes()"
/>


<mat-sidenav-container class="flex-1">



  <mat-sidenav [opened]="isOpenSideNav()" fixedTopGap="56" class=" block laptop:hidden">
    <ul
      class="flex flex-col p-8 space-y-8 items-start bg-primary text-white h-full"
    >
      @for (route of routes(); track $index) {

      <mat-nav-list
        class="cursor-pointer"
        (click)="navigateToOtherSection(route.route)"
        [routerLink]="[route.route]"
        [class.common-style-navbar]="activateRoute()?.includes(route.title)"
      >
        <div class="flex space-x-2">
          <mat-icon
            aria-hidden="false"
            aria-label="Home"
            [fontIcon]="route.icon"
          ></mat-icon>
          <div>{{ route.name }}</div>
        </div>
      </mat-nav-list>

      }
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content> </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
