<div class="bg-primary text-white py-16 common-vertical-padding pt-14">
  <div class="flex laptop:flex-row laptop:justify-between laptop:space-x-12">
    <div
      class="flex flex-col justify-center space-y-5 w-full laptop:w-2/3 laptop:justify-start"
    >
      <h1 class="text-3xl font-bold">Carlos López</h1>

      <h2 class="text-xl">{{"about.title" | translate}} </h2>

      <p class="text-sm text-justify">
        {{"about.description" | translate}}
      </p>

      <button
        type="button"
        class="border w-36 py-2 px-4 rounded text-center hover:bg-secondary hover:border-secondary"
      >
        <a
        href="https://wa.me/593969598740?text=Hola%20estoy%20interesado%20en%20tus%20servicios"
        target="_blank"
        class="flex justify-center items-center space-x-2">
          <span class="text-sm">  {{"about.buttonText" | translate}}</span>
        </a>
      </button>
    </div>

    <div
      class="animate-fadeIn  hidden w-64 h-auto laptop:flex laptop:justify-center rounded-lg bg-secondary"
    >
      <img
        alt="Carlos López animation"
        class=" object-contain h-80 relative left-6 rounded-r-lg"
        src="images/me/mecoffeanimation.webp"
      />
    </div>
  </div>
</div>

<div class="flex flex-col space-y-5 py-11 px-12 text-primary">
  <div class="flex flex-col justify-center">
    <h1
      class="mb-4 flex-grow font-bold text-xl text-center laptop:text-left laptop:text-2xl"
    >
    {{"about.softSkills" | translate}}
    </h1>

    <p class="text-sm">
      {{"about.intro" | translate}}
    </p>
  </div>

  <div class="flex flex-col">
    <div class="grid gap-10 text-justify laptop:grid-cols-4">
      @for (softSkill of softSkills(); track $index) {
      <about-job [softSkill]="softSkill" />

      }
    </div>
  </div>
</div>
