<div class="text-justify common-vertical-padding">
  <div class="flex flex-col w-auto h-auto mt-16">
    <div
      class="flex flex-col items-center mb-5 laptop:flex-row justify-between"
    >
      <h1
        class="text-primary mb-4 font-bold text-xl laptop:text-2xl flex-auto w-1/2"
      >
        My Hard Skills
      </h1>

      <p
        class="m-0 laptop:w-1/2 text-sm text-secondary text-clip overflow-hidden ..."
      >
        Throughout my career, I have developed a solid set of technical skills
        that enable me to build efficient and scalable solutions. I have
        experience in both frontend and backend development, using modern
        technologies to create intuitive, optimized, and high-performance
        applications.
      </p>
    </div>

    <div
      class="grid justify-items-center gap-y-5 grid-cols-3 mt-2 laptop:grid-cols-6 laptop:gap-x-10"
    >
      @for (tool of tools(); track $index) {

      <home-tool [tool]="tool" />

      }
    </div>
  </div>

  <!-- Section: Seccion de sobre mi -->

  <div class="mt-16">
    <!--   <p class="text-4xl text-primary font-bold">"</p> -->

    <div class="flex flex-col space-y-6 text-xl laptop:text-2xl tracking-wide">
      <div class="flex items-center space-x-4 flex-row">
        <p class="text-primary self-start">
          I Have A <b>Bachelor's Degree </b>in <b>Software Engineering.</b>
        </p>

        <hr class="flex-grow h-0.5 bg-secondary" />
      </div>

      <div class="flex items-center space-x-4 flex-row">
        <hr class="flex-grow h-0.5 bg-secondary" />

        <p class="text-primary self-end">
          I live in <b>Ibarra</b>, a scenic and culturally rich city in northern
          <b>Ecuador</b>.
          <!--  My current residence is in <b>Ibarra, Ecuador.</b> -->
        </p>
      </div>
    </div>

    <div
      class="flex flex-col items-center space-y-7 mt-6 laptop:mt-11 laptop:flex-row laptop:justify-between"
    >
     <general-avatar/>
      <p
        class="m-0 text-sm text-secondary text-clip overflow-hidden ... laptop:w-1/2"
      >
        I hold a Bachelor’s Degree in Software Engineering from Universidad
        Técnica del Norte. Throughout my career, I have worked in multiple
        teams, contributing to the development of innovative, efficient, and
        scalable software solutions. My experience includes collaborating with
        diverse professionals, adapting to new technologies, and solving complex
        challenges in software development.
      </p>
    </div>
  </div>
</div>
