<div class="common-vertical-padding bg-primary text-white py-14 laptop:py-20">
  <div class="flex flex-col space-y-3 laptop:flex-row laptop:items-center">
    <h1 class="text-3xl font-bold w-2/3">My Certificates</h1>

    <p class="text-sm flex-grow-1">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae culpa
      porro placeat sint soluta ea ab error ad illo maxime quo qui mollitia, eum
      eius reprehenderit? Soluta consequatur itaque eaque.Lorem, ipsum dolor sit
      amet consectetur adipisicing elit. Molestiae culpa porro placeat sint
      soluta ea ab error ad illo maxime quo qui mollitia, eum eius
      reprehenderit? Soluta consequatur itaque eaque.Soluta consequatur itaque
      eaque.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
      culpa porro placeat sint soluta ea ab error ad illo maxime quo qui
      mollitia, eum eius reprehenderit? Soluta consequatur itaque eaque
    </p>
  </div>
</div>

<div class="px-9 grid flex-wrap py-10 gap-5 laptop:gap-20 laptop:grid-cols-3">
  @for (certificate of certificates(); track $index) {

  <certificates-card [certificate]="certificate" />

  }
</div>
