<div
  class="flex flex-row w-auto h-auto items-center justify-center space-y-6 bg-primary text-white"
>
  <div
    class="flex flex-col items-center laptop:items-start justify-center phone:text-center laptop:text-left laptop:pr-96 laptop:ml-12 space-y-5"
  >
    <h1 class= " animate-fade-right mt-4 text-xl">Hi, I'm Carlos</h1>

    <img
      class=" animate-fade-up  object-scale-down laptop:hidden bg-secondary rounded-full w-40 h-40"
      src="images/me2.png"
    />

    <h1 class=" animate-fade-right  text-3xl font-bold">Fullstack Developer</h1>

    <h3 class=" animate-fade-right  text-lg hidden laptop:block">
      Software Engineer with expertise in full-stack development, creating
      innovative solutions using Angular, Java Spring Boot, Dart, and Flutter.
    </h3>

    <div class="pb-7 flex space-x-10">
      <button
        type="button"
        class="animate-fade-right   border py-2 px-4 rounded text-center hover:bg-secondary hover:border-secondary"
      >
        <div class="flex items-center space-x-2">
          <img src="images/github.png" class="w-8" />
          <span>GitHub</span>
        </div>
      </button>

      <button
        type="button"
        class="  animate-fade-right  border py-2 px-4 rounded text-center hover:bg-secondary hover:border-secondary"
      >
        <div class=" flex items-center space-x-2">
          <img src="images/linkedin.png" class="w-8" />
          <span>Linkedin</span>
        </div>
      </button>
    </div>
  </div>

  <div class=" animate-fade-up relative mr-26 py-10 mr-20 hidden laptop:block">
    <div class="w-[16rem] h-[21rem] border border-white relative rounded">
      <img
        src="images/me2.png"
        class="absolute w-full h-full bg-secondary rounded-lg bottom-10 right-8"
      />
    </div>
  </div>
</div>

<div class="text-justify px-16">
  <!-- Section: Seccion de herramientas -->

  <div class="flex flex-col w-auto h-auto mt-16">
    <div
      class="flex flex-col items-center mb-5 laptop:flex-row justify-between"
    >
      <h1
        class="text-primary mb-4 font-bold text-xl laptop:text-2xl flex-auto w-1/2"
      >
        My Hard Skills
      </h1>

      <p
        class="m-0 laptop:w-1/2 text-sm text-secondary text-clip overflow-hidden ..."
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore in fugit
        accusamus omnis eum suscipit, sit molestiae Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Labore in fugit Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Labore in fugit
      </p>
    </div>

    <div
      class="grid justify-items-center gap-y-5 grid-cols-3 mt-2 laptop:grid-cols-6 laptop:gap-x-10"
    >
      @for (tool of tools(); track $index) {
      <div
        class="flex flex-col items-center cursor-pointer justify-center space-y-3 hover:scale-110"
      >
        <div
          class="flex items-center justify-center w-24 h-24 rounded-md bg-gray-100 hover:bg-secondary"
        >
          <img [src]="tool.image" class="w-11" />
        </div>

        <div class="text-sm">{{ tool.title }}</div>
      </div>

      }
    </div>
  </div>

  <!-- Section: Seccion de sobre mi -->

  <div class="mt-16">
    <!--   <p class="text-4xl text-primary font-bold">"</p> -->

    <div class="flex flex-col space-y-6 text-xl laptop:text-2xl tracking-wide">
      <div class="flex items-center space-x-4 flex-row">
        <p class="text-primary self-start">
          I Have A <b>Bachelor's Degree </b>in <b>Software Engineering.</b>
        </p>

        <hr class="flex-grow h-0.5 bg-secondary" />
      </div>

      <div class="flex items-center space-x-4 flex-row">
        <hr class="flex-grow h-0.5 bg-secondary" />

        <p class="text-primary self-end">
          I live in <b>Ibarra</b>, a scenic and culturally rich city in northern
          <b>Ecuador</b>.
          <!--  My current residence is in <b>Ibarra, Ecuador.</b> -->
        </p>
      </div>
    </div>

    <div
      class="flex flex-col items-center space-y-7 mt-6 laptop:mt-11 laptop:flex-row laptop:justify-between"
    >
      <div class="flex justify-center rounded-full bg-secondary w-36 h-36 ml-7">
        <img class="object-contain w-24" src="images/avatarme.png" />
      </div>

      <p
        class="m-0 text-sm text-secondary text-clip overflow-hidden ... laptop:w-1/2"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore in fugit
        accusamus omnis eum suscipit, sit molestiae Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Labore in fugit Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Labore in fugit, Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Labore in fugit accusamus omnis eum
        suscipit, sit molestiae Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Labore in fugit Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Labore in fugit
      </p>
    </div>
  </div>
</div>
  <!-- Section: Seccion de mi experiencia -->
<div class="bg-primary w-auto h-auto mt-16 py-16 px-16 text-white">
  <div
    class="flex flex-col space-y-7 items-center laptop:justify-between laptop:flex-row laptop:space-x-10"
  >
    <div class=" flex flex-col laptop:w-1/2">
      <h1 class="text-xl font-bold">My Experience</h1>

      <p class="text-sm">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore in fugit
        accusamus omnis eum suscipit, sit molestiae Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Labore in fugit Lorem ipsum dolor sit amet
        consectetur adipisicing elit.
      </p>
    </div>

    <div class="flex flex-col space-y-2 laptop:w-1/2">
      <div class="flex flex-col space-y-2 "[@slideInOut]>
        <div class="border rounded-full max-w-44 h-auto px-4 py-2">
          <p class="text-sm">
            {{ actualJob().initDate | date : "dd/MM/YY" }} -
            {{ actualJob().endDate | date : "dd/MM/YY" }}
          </p>
        </div>

        <h1 class="text-xl font-bold">{{ actualJob().title }}</h1>

        <hr />

        <p class="text-sm mb-40">
          {{ actualJob().description }}
        </p>

      </div>

      <div class="h-4"></div>

      <div class="flex flex-row justify-end space-x-5 text-sm">
        <button
          type="btn"
          (click)="previousJob()"
          [ngClass]="{
            'text-gray-300': isFirstIndex(),
            'hover:underline': !isFirstIndex()
          }"
        >
          Previous
        </button>
        <button
          type="btn"
          [ngClass]="{
            'text-gray-300': isLastIndex(),
            'hover:underline': !isLastIndex()
          }"
          (click)="nextJob()"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>

<div class="mt-16 px-16">
  <div class="flex flex-col text-primary">
    <div
      class="flex flex-col items-center mb-5 laptop:flex-row justify-between"
    >
      <h1
        class="mb-4 font-bold text-xl text-center laptop:text-left laptop:text-2xl flex-auto w-1/2"
      >
        My Recent Projects
      </h1>

      <p class="m-0 laptop:w-1/2 text-sm text-justify text-secondary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore in fugit
        accusamus omnis eum suscipit, sit molestiae Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Labore in fugit Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Labore in fugit
      </p>
    </div>

    @for (project of projects(); track $index) {

    <home-project [project]="project" [isReversed]="$index % 2 === 0" />
    }
  </div>
</div>

<!-- Section: Footer -->

<div class="bg-primary text-white py-10 px-16 mt-14">
  <div
    class="flex flex-col-reverse space-y-reverse space-y-4 items-center mb-10 laptop:flex-row laptop:justify-between"
  >
    <div class="flex flex-col space-y-4 laptop:w-1/2">
      <h1 class="text-xl">Interesting Working <b>With Me?</b></h1>

      <p class="text-sm">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore in fugit
        accusamus omnis eum suscipit, sit molestiae Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Labore in fugit Lorem ipsum dolor sit amet
        consectetur adipisicing elit.
      </p>
    </div>

    <div class="flex justify-center rounded-full bg-secondary w-36 h-36 mr-7">
      <img class="object-contain w-24" src="images/avatarme.png" />
    </div>
  </div>

  <hr />

  <div class="flex flex-row space-x-8 mt-3">
    <p class="cursor-pointer">Linkedin</p>
    <p class="cursor-pointer">GitHub</p>
    <p class="cursor-pointer">Instagram</p>
  </div>
</div>
