<cdk-virtual-scroll-viewport



  itemSize="5"
  minBufferPx="200" maxBufferPx="400"
  class="w-full h-auto">
  <div
    *cdkVirtualFor="let project of projects()"
    class="laptop:flex laptop:justify-center"
  >
    <div
      (click)="chooseProjectToShowByTitle(project.title)"
      [ngClass]="{
        'bg-thertiary animate-shake ': project.id === projectToShow().id
      }"
      class="bg-secondary mt-3  rounded-lg cursor-pointer hover:bg-thertiary laptop:flex laptop:flex-row laptop:w-11/12 laptop:h-44"
    >
      <div class="hidden justify-center w-1/2 laptop:flex">
        <img class="object-cover" [src]="project.image" [alt]="project.title" />
      </div>

      <div class="flex flex-col p-3 laptop:w-1/2">
        <h1 class="text-sm font-bold laptop:text-lg">
          {{ project.title }}
        </h1>
        <p
          class="text-sm  max-w-full w-96 line-clamp-4"
        >
        {{ "projects." + project.title | translate }}
        </p>
      </div>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
